[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim/plugins/vim-go"]
	path = nvim/plugins/vim-go
	url = https://github.com/fatih/vim-go
[submodule "nvim/plugins/coc.nvim"]
	path = nvim/plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
